@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --bg: #344E5C;
  --sec: #4AB19D;
  --ter: #EFC958;
  --quar: #E17A47;
  --primary: #EF3D59;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  font-family: 'Signika', sans-serif;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-size: 14pt;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  padding: 3rem;
  border-radius: 50px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  width: 80%;
}

.highInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.myInfo {
  width: 40%;
}

.projects {
  width: 60%;
  padding-left: 2rem;
}

.lowInfo {
  padding: 2rem;
  margin: 1rem 0;
  color: white;
}

h3 {
  font-size: 20pt;
  color: #EFC958;
}

h4 {
  margin: .5rem 0;
  font-size: 14pt;
  color: rgb(204, 204, 204);
  border-bottom: 3px solid var(--ter);
}

h4 {
  font-family: 'Source Code Pro', monospace;
}

p {
  color: white;
}

ul {
  padding-left: .5rem;
  list-style-type: none;
  color: white;
}

li, a {
  color: white;
}

li p {
  margin: .5rem 0 0 1rem;
}

.contactIcon {
  background-color: var(--primary);
  padding: 8px 12px;
  font-size: 18pt;
  border-radius: 50%;
  transition: 300ms ease;
}

.contactIcon:hover {
  background-color: #a32a3c;
}

.tags {
  margin-top: 1rem;
}

.tag {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: .5rem;
  cursor: pointer;
}

.js {
  background-color: var(--ter);
}

.css {
  background-color: var(--sec);
}

.linksArea {
  margin-top: 1rem;
}